html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.demo {
    /* for IE10+ touch devices */
    touch-action: none;
}

.flowchart-demo .window {
    border: 1px solid #346789;
    box-shadow: 2px 2px 8px #aaa;
    -o-box-shadow: 2px 2px 8px #aaa;
    -webkit-box-shadow: 2px 2px 8px #aaa;
    -moz-box-shadow: 2px 2px 8px #aaa;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
    opacity: 0.8;
    filter: alpha(opacity=80);
    width: 120px;
    height: 70px;
    line-height: 80px;
    cursor: pointer;
    text-align: center;
    z-index: 20;
    position: absolute;
    background-color: #eeeeef;
    color: black;
    font-family: helvetica;
    padding: 0.5em;
    font-size: 0.9em;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}

.flowchart-demo .window:hover {
    box-shadow: 2px 2px 12px #444;
    -o-box-shadow: 2px 2px 12px #444;
    -webkit-box-shadow: 2px 2px 12px #444;
    -moz-box-shadow: 2px 2px 12px #444;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.flowchart-demo .active {
    border: 1px dotted green;
}

.flowchart-demo .hover {
    border: 1px dotted red;
}

.flowchart-demo ._jsPlumb_connector {
    z-index: 4;
}

.flowchart-demo ._jsPlumb_endpoint, .endpointTargetLabel, .endpointSourceLabel {
    z-index: 21;
    cursor: pointer;
}

.flowchart-demo .aLabel {
    background-color: white;
    padding: 0.4em;
    font: 12px sans-serif;
    color: #444;
    z-index: 21;
    border: 1px dotted gray;
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: pointer;
}

.flowchart-demo .aLabel._jsPlumb_hover {
    background-color: #5C96BC;
    color: white;
    border: 1px solid white;
}

.window._jsPlumb_connected {
    border: 2px solid green;
}

.jsplumb-drag {
    border: 4px solid pink !important;
}

path, ._jsPlumb_endpoint {
    cursor: pointer;
}

.wf_panel {
    border: solid 1px #515151;
    border-radius: 5px;
}

.wf_mainpanel {
    background-color: #515151;
    width: 1200px;
    height: 700px;
    padding: 1px;
    border-radius: 5px;
    margin: 30px;
}

.wf_toolbar {
    background-color: #f7f7f9;
    float: right;
    width: 15%;
    height: 99%;
}

.wf_designbox {
    background-color: #f7f7f9;
    float: left;
    min-width: 80px;
    width: 84%;
    height: 99%;
}

.wf_inititem {
    border: solid 1px #e6e6e6;
    width: 98%;
    height: 90px;
    text-align: center;
    vertical-align: middle;

}

.wf_added_item {
    position: absolute;
}

.wf_node_instance {
    position: absolute;
}

.wf_svg_inititem {
    width: 80px;
    height: 80px;

}

.wf_item_setting_bar {

    width: 25px;
    height: 100px;
    float: right;
    padding: 1px;
    border: 1px solid #777777;
    opacity: 0.2;

}
.wf_setting_anchor
{

}
.wf_item_setting_bar :hover{
    width: 40px;

}